.form-container{
    width:500px;
    height:600px;
    margin: 30px auto;
    border: 1px solid tomato;
    border-radius: 8px;
}
.form-titile{
    font-size: 30px;
    font-weight: 500;
    font-family: auto;
    text-align: center;
}
.form-control label{
    display: block;
    margin-bottom: 8px;;
}
.form-control input {
    width: 450px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid gray;
}
.form-control {
    padding-left: 26px;
    margin-top: 20px;
}
.submit-btn {
    margin-left: 26px;
    width: 450px;
    height: 40px;
    border-radius: 6px;
    margin-top: 37px;
    font-size: 20px;
    background-color: tomato;
    border: none;
    color: white;
}